repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.7
    hooks:
    - id: clang-format
      types_or: []
      types: [text]
      files: '\.(cpp|cxx|c|h|hpp|hxx|txx)$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-yaml
        exclude: ^packaging/conda/
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: trailing-whitespace
  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.19.2
    hooks:
      - id: gersemi
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--write-changes]
