<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)" >

    <xacro:property name="setup_file" value="${xacro.load_yaml('$(find prl_ur5_robot_configuration)/config/standart_setup.yaml')}"/>

    <!-- ur5 arm -->
    <xacro:include filename="$(find prl_ur5_gazebo)/urdf/test_gazebo.urdf.xacro"/>
    <xacro:arg name="name" default="ur5"/>
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="parent" default="base_link"/>
    <xacro:arg name="sensor" default="false"/>
    <xacro:arg name="force_abs_paths" default="true"/>
    <xacro:arg name="simulation_controller" default=""/>
    <xacro:arg name="gripper" default="none"/>
    <xacro:arg name="gripper_pose" default="0 0 0 0 0 0"/>
    <xacro:arg name="workbench" default="false"/>
    <xacro:arg name="sensors" default="false"/>
    <!-- ARM -->

    <xacro:if value="$(arg workbench)">
        <xacro:include filename="$(find prl_ur5_gazebo)/urdf/env.urdf.xacro"/>
        <xacro:workbench parent="$(arg parent)" sensors="$(arg sensors)"/>
    </xacro:if>
    
    <xacro:property name="$(arg name)" value="${setup_file.get('$(arg name)')}"/>
    <xacro:ur5 prefix="$(arg prefix)"
        parent="$(arg parent)" 
        pose="${$(arg name)['arm_pose']}"
        sensor="$(arg sensor)"
        force_abs_paths="$(arg force_abs_paths)"
        simulation_controller="$(find prl_ur5_gazebo)/config/$(arg prefix)ur_controller.yaml"
        gripper="$(arg gripper)"
        gripper_pose="${$(arg name).get('gripper_pose')}"
        />

    <!-- create link fixed to the "world" -->
    <link name="base_link"/>
    <link name="$(arg parent)"/>

    <!-- create joint between "world" and "base_link" -->
    <joint name="base_2_ur" type="fixed">
        <parent link="base_link" />
        <child link="$(arg parent)" />
        <origin xyz="0 0 0.8" rpy="0 0 0" />
    </joint> 



  

    


</robot>