<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- ur5 -->
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.ros2_control.xacro" />

    <!-- force sensor-->
    <xacro:include filename="$(find prl_ur5_gazebo)/urdf/_ft300_gazebo.urdf.xacro"/>

    <!-- gripper -->
    <xacro:include filename="$(find prl_ur5_description)/urdf/_gripper.urdf.xacro"/>

    <xacro:macro name="ur5" params="
        name:=ur
        ur_type:=ur5
        prefix
        parent
        pose
        sensor
        gripper
        gripper_pose
        joint_limits_parameters_file:='$(find ur_description)/config/ur5/joint_limits.yaml'
        kinematics_parameters_file:='$(find ur_description)/config/ur5/default_kinematics.yaml'
        hw_interface:=hardware_interface/PositionJointInterface
        physical_parameters_file:='$(find ur_description)/config/ur5/physical_parameters.yaml'
        visual_parameters_file:='$(find ur_description)/config/ur5/visual_parameters.yaml'
        safety_limits:=false
        safety_pos_margin:=0.15
        safety_k_position:=20
        force_abs_paths:=false
        ">

        <xacro:ur_robot
            name="${prefix}ur"
            tf_prefix="${prefix}"
            parent="${parent}"
            joint_limits_parameters_file="${joint_limits_parameters_file}"
            kinematics_parameters_file="${kinematics_parameters_file}"
            physical_parameters_file="${physical_parameters_file}"
            visual_parameters_file="${visual_parameters_file}"
            safety_limits="${safety_limits}"
            safety_pos_margin="${safety_pos_margin}"
            safety_k_position="${safety_k_position}"
            force_abs_paths="${force_abs_paths}"
        >
        <origin xyz="${pose['x']} ${pose['y']} ${pose['z']}" rpy="${pose['roll']} ${pose['pitch']} ${pose['yaw']}"/> 
        </xacro:ur_robot>  
        
        <!-- ros2 control instance -->
        <xacro:ur_ros2_control
            name="${prefix}ur"
            tf_prefix="${prefix}"
            transmission_hw_interface="${hw_interface}"
        />

        <!-- force sensor -->
        <xacro:ft300_gazebo
            prefix="${prefix}"
            parent="tool0"
        />

        


    </xacro:macro>
 
</robot>

