<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- import main macro -->
    <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_ft300.urdf.xacro" />
    <xacro:include filename="$(find prl_ur5_gazebo)/urdf/_ft300_gazebo.urdf.xacro" />

    <xacro:macro name="force_sensor" params="
                        prefix:=''
                        parent:=''
                        ">
        <!-- force sensor -->
        <xacro:robotiq_ft300 parent="${parent}" tf_prefix="${prefix}">
            <origin xyz="0 0 0" rpy="0 0 ${-pi}"/> 
        </xacro:robotiq_ft300>
    </xacro:macro>

</robot>
